.DS_Store
.env
.env.*
.git
.git_temp
.venv
venv
**/__pycache__
**/*.pyc
**/.pytest_cache
**/node_modules
**/dist
**/.astro
*.log
log
data
docs
*.md
!README.md
backend/debug
backend/rss.db
rss.db
dashboard_sample.webp
