---
// ---
// name: _footer
// description: "Admin layout footer partial: displays app version and renders search modal"
// type: partial
// target:
//   layer: frontend
//   domain: layout
// spec_doc: null
// test_file: null
// ---
import SearchModal from '../../../components/modals/search-modal.astro'
import packageJson from '../../../../../package.json'
---

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12 text-end">
        <p class="mb-0">Version {packageJson.version}</p>
      </div>
    </div>
  </div>
</footer>
<SearchModal />
